{% extends "@UmbrellaCore/Modal/default.html.twig" %}

{% block modal_class %}modal-xl{% endblock %}

{% block modal_title %}
    <h4 class="modal-title">Missions by <u>{{ status }}</u></h4>
{% endblock %}

{% block modal_content %}
    {{ render_table(table) }}
{% endblock %}