{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body pb-0">
            <h4 class="card-title">Custom adapter</h4>
            <p class="text-muted font-14">
                Example of DataTable with data read from an Api.<br>
                Server compute, filter and paginate data fetched from <a href="https://github.com/r-spacex/SpaceX-API" class="text-primary">SpaceX API</a> with a custom adapter.
            </p>
        </div>
        <div class="card-datatable pt-0">
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}
