{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link active" href="#example" data-bs-toggle="tab">Example</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#code" data-bs-toggle="tab">Code</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="example">
            {% block table_section %}
            {% endblock %}
        </div>

        <div class="tab-pane fade" id="code">
            {% block code_section %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
