{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <p>DataTables can be rendered on modal too.</p>
            <a href data-xhr="{{ path('app_admin_datatable_openmodal') }}" class="btn btn-primary">
                Show Datatable
            </a>
        </div>
    </div>
{% endblock %}
