###> Tools / Other ###
/.idea/*
*.DS_Store
bin/deploy
bin/link_vendor
composer.lock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/.gitkeep
/vendor/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/ckeditor4/
npm-debug.log
yarn-error.log

###> Vich Uploader ###
/public/uploads/*
!/public/uploads/.gitkeep

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
