###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/*
!/var/.gitkeep
/vendor/
symfony.lock
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> umbrella ###
/public/umbrella-file/
###< umbrella ###

###> webpack ###
/node_modules/*
yarn-error.log
###< webpack ###

###> Tools / Other ###
/.idea/*
*.DS_Store
.php_cs.cache
###< Tools / Other ###


