<a data-bs-toggle="collapse" data-bs-target="#choice-options" class="card-link">
    <h5 class="dropdown-toggle">Form options </h5>
</a>
<div class="collapse" id="choice-options">
    <p>All options of <a href="https://symfony.com/doc/current/reference/forms/types/choice.html">ChoiceType</a> +</p>

    <table class="table">
        <thead>
        <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Default value</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>hide_selected</th>
            <td>bool</td>
            <td>true</td>
            <td>Hide selected options on dropdown.</td>
        </tr>
        <tr>
            <th>highlight</th>
            <td>bool</td>
            <td>true</td>
            <td>Highlight searched options on dropdown.</td>
        </tr>
        <tr>
            <th>max_items</th>
            <td>int | null</td>
            <td>null</td>
            <td>Only effective if "multiple" is true : the max number of items the user can select.</td>
        </tr>
        <tr>
            <th>expose</th>
            <td>callable | null</td>
            <td>null</td>
            <td>Used with option <b>template_selector</b> or <b>template_html</b> to expose additional variables.</td>
        </tr>
        <tr>
            <th>template_html</th>
            <td>string | null</td>
            <td>null</td>
            <td>Mustache template (by default, 2 variables are available : id and text).</td>
        </tr>
        <tr>
            <th>template_selector</th>
            <td>string | null</td>
            <td>null</td>
            <td>Css selector of mustache template in HTML dom.</td>
        </tr>
        </tbody>
    </table>
</div>