<a data-bs-toggle="collapse" data-bs-target="#entity-options" class="card-link">
    <h5 class="dropdown-toggle">Form options</h5>
</a>
<div class="collapse" id="entity-options">
    All options of <a href="https://symfony.com/doc/current/reference/forms/types/entity.html">EntityType</a> + all options of
    <b>UmbrellaChoiceType</b>
</div>
