{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h5 class="mr-2">Framework Umbrella v2.0</h5>
        </div>
        <div class="card-body">
            <p>Framework de création de back-office basée sur Symfony flex 5.</p>
            <p>Mon git : <a href="https://github.com/acantepie" class="text-primary">/acantepie</a></p>
        </div>
    </div>

    <div class="card">
        <div class="card-header d-flex align-items-center">
            <h5 class="mr-2">Theme hyper - Admin & Dashboard Template </h5>
            <img src="{{ asset('build/images/hyper-logo-dark.png') }}" alt="" width="100">
        </div>
        <div class="card-body">

            <ul>
                <li>
                    Générée à partir de la version bootstrap v4.5.2 -
                    <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/" class="text-primary">Bootstrap documentation</a>
                </li>
                <li>
                    Variante utilisée dans Umbrella/AdminBundle : light mode / sass
                </li>
                <li>
                    <a href="https://coderthemes.com/hyper/saas/index.html" class="text-primary">Démo sass</a>
                </li>
                <li>
                    <a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/" class="text-primary">Thème page</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}