{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
{% if app.flashes('message_registered') %}
    <div class="alert alert-success">
        <i class="mdi mdi-check mr-1"></i> Votre messaga a été enregistré.<br>
    </div>
{% endif %}

<div class="card">
    <div class="card-body">

        <div class="mb-3">
            <div class="alert alert-warning">
                <h4>Le composant Task de Umbrella n'existe plus :( </h4>
                A la place il faut utiliser le composant <b>Messenger</b> de Symfony qui offre bien plus de fonctionnalités et est bien plus puissant. Cf <a href="https://symfony.com/doc/current/messenger.html" class="text-primary" target="_blank">Messenger: Sync & Queued Message Handling</a><br>
            </div>
        </div>

        <div class="mb-3 border p-3">
            <h4 class="card-title">Exemple 1 - Message asynchrone.</h4>
            <form method="post">
                <ul>
                    <li>Transport : async - doctrine://default - Message en attente visible dans la table <code>messenger_message</code></li>
                    <li>Message : <code>App\Message\NewFishMessage.php</code></li>
                    <li>Handler : <code>App\Message\Handler\NewFishMessageHandler.php</code></li>
                    <li>Description : Le message contient le <b>code espece</b> du poisson à ajouter.
                        Le handler ajoutera un nouveau poisson en base si il trouve une correspondance avec le <b>code espece</b> dans l'api FishBase.</li>
                </ul>

                <p class="alert alert-info">
                    Une fois votre message envoyé, utilisez la commande <code>php bin/console messenger:consume async -vv</code> pour "dépiler" vos messages asynchrones enregistrés.<br>
                    Si votre message est correctement traité, votre nouvelle espece sera visible <a href="{{ path('app_admin_datatable_simple') }}" class="text-primary">ici</a>.

                </p>
                {{ form_rest(new_fish_form) }}

                <button type="submit" class="btn btn-primary">
                    <i class="mdi mdi-send mr-1"></i> Enregistrer
                </button>
            </form>
        </div>


        <div class="border p-3">
            <h4 class="card-title">Exemple 2 - Message synchrone.</h4>
            <ul>
                <li>Transport : sync - sync://</li>
                <li>Message : <code>App\Message\ExportFishMessage.php</code></li>
                <li>Handler : <code>App\Message\Handler\ExportFishMessageHandler.php</code></li>
                <li>Description : Exportera tous les poissons de la base de données dans un fichier CSV.</li>
            </ul>

            <a href="{{ path('app_admin_message_index', {'export_fish': true}) }}" class="btn btn-primary">
                <i class="mdi mdi-check mr-1"></i> Exporter
            </a>
        </div>


    </div>
</div>
{% endblock %}