{% extends "datatable/layout.html.twig" %}

{% block table_section %}
    <p>
        Try edit space mission ( <i class="mdi mdi-pencil"></i> icon ) and change his <b>rocket status</b>.
        If you update rocket status of a mission, both table will be automatically updated.
    </p>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Rocket status : <u>Active</u></h4>
        </div>
        <div class="card-datatable">
            {{ render_table(tableA) }}
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Rocket status : <u>Retired</u></h4>
        </div>
        <div class="card-datatable">
            {{ render_table(tableB) }}
        </div>
    </div>
{% endblock %}

{% block code_section %}
    <div class="card">
        <div class="card-body">
            <div>
                <a href="{{ git_url('src/Controller/DataTable/DataTableMultipleController.php') }}" target="_blank"><i class="mdi mdi-github"></i> Symfony Controller</a>
            </div>
        </div>
    </div>
{% endblock %}
