{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">About framework</h4>
        </div>
        <div class="card-body">
            <p>
                <strong>Umbrella</strong> provide many components to easily create administration backends.<br>
                All vendor was developed on Symfony 5.<br>

                Unlike <strong>EasyAdmin</strong> or <strong>Sonata</strong>, this framework is component oriented and doesn't use an abstraction layer for CRUD, that makes it very easy to understand.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><a href="https://github.com/acantepie/umbrella-core" class="text-primary">umbrella-core</a> bundle</h4>
        </div>
        <div class="card-body">
            <p>
                Libraries of component, they can be used on back-office but also on front-office :
            </p>

            <ul>
                <li class="pb-2">
                    <strong>Datatable</strong> : Datable creation component based on <a href="https://datatables.net/" class="text-primary">DataTable.js</a>.<br>
                    Uses the same principle as Symfony FormT(Factory, Builder, Type) and supports a lot of features (Async loading, Tree view, Custom adapter, Form filter, ...)
                </li>
                <li class="pb-2">
                    <strong>Menu / Breadcrumb</strong> : Menu / breadcrumb creation component.
                </li>
                <li class="pb-2">
                    <strong>Form</strong> : Add some useful FormType and theme - UmbrellaChoiceType / UmbrellaEntityType, AutoCompleteType, DatePicker / DateTimepicker,  Collection, Ckeditor, ...
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title"><a href="https://github.com/acantepie/umbrella-admin" class="text-primary">umbrella-admin</a> bundle</h4>
        </div>
        <div class="card-body">
            <p>
                Contains all tools needed to create backends :
            </p>

            <ul>
                <li class="pb-2">
                    <strong>Admin theme and template</strong> : Based on <a href="https://tabler.io/">Tabler.io</a>.
                </li>
                <li class="pb-2">
                    <strong>User management</strong> : Admin view to edit admin user, Profile view to edit your own account and security system to login and recover password.
                </li>
                <li class="pb-2">
                    <strong>Maker</strong> : Create table <code>php bin/console make:admin:table</code> and tree <code>php bin/console make:admin:tree</code> view with Maker command.
                </li>
                <li class="pb-2">
                    <strong>Notification manager</strong> : Lightweight notification system.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}