{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4>About framwork</h4>
        </div>
        <div class="card-body">
            <p>
                <strong>Umbrella</strong> provide many components to create administration backends. Framework was developed on Symfony 5.2.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4><a href="https://github.com/acantepie/umbrella-core" class="text-primary">umbrella-core</a> bundle</h4>
        </div>
        <div class="card-body">
            <p>
                Define all major components, they can be used on back-office but also on front-office :
            </p>

            <ul>
                <li class="pb-2">
                    <strong>Datatable</strong> : Datable creation component based on <a href="https://datatables.net/" class="text-primary">DataTable.js</a>.<br>
                    Uses the same principle as Symfony FormT(Factory, Builder, Type) and supports a lot of features (Async loading, Tree view, Custom adapter, Form filter, ...)
                </li>
                <li class="pb-2">
                    <strong>Menu</strong> : Menu creation component inspired by <a href="https://github.com/KnpLabs/KnpMenuBundle" class="text-primary">KnpMenuBundle</a>.
                </li>
                <li class="pb-2">
                    <strong>Form</strong> : Add advanced FormType; Entity/Choice2Type (based on select2, supports async loading and templating), Date(Time)Picker, Collection, Upload, Ckeditor, ...
                </li>
                <li class="pb-2">
                    <strong>Upload</strong> : Upload manager component inspired by <a href="https://github.com/dustin10/VichUploaderBundle" class="text-primary">VichUploaderBundle</a>.<br>
                    Unlike VichUploader, all files are stored in dedicated entity <strong>UmbrellaFile</strong> and use <a href="https://github.com/thephpleague/flysystem" class="text-primary">flysystem.</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4><a href="https://github.com/acantepie/umbrella-admin" class="text-primary">umbrella-admin</a> bundle</h4>
        </div>
        <div class="card-body">
            <p>
                Based on Hyper Admin Theme, this bundle reuses most of Core Component in order to provide a set of tools for the back-office.
            </p>

            <p class="alert-info alert">
                Unlike <strong>EasyAdmin</strong> or <strong>Sonata</strong>, this framework is component oriented and doesn't use an abstraction layer for CRUD, that makes it very easy to understand.
            </p>

            <p>
                Service provided by umbrella-admin :
            </p>

            <ul>
                <li class="pb-2">
                    <strong>Sidebar</strong> : Reuse Menu component with javascript library <a href="https://github.com/onokumus/metismenu" class="text-primary">metismenu</a>.
                </li>
                <li class="pb-2">
                    <strong>User Management</strong> : Inspired by <a href="https://github.com/FriendsOfSymfony/FOSUserBundle" class="text-primary">FOSUserBundle</a>, it works the same way but use new Symfony 5.2 authenticator.
                </li>
                <li class="pb-2">
                    <strong>Maker</strong> : Inspired by <a href="https://symfony.com/doc/current/bundles/SymfonyMakerBundle/index.html" class="text-primary">MakerBundle symfony</a>, helps you to create controller, form with DataTable view.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}