{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}

    <div class="card">
        <div class="card-body">
            {% for config in configs %}
                <h4 class="card-title">{{ config.name }}</h4>
                <pre class="border-dark border p-2">{{ config.dump }}</pre>
            {% endfor %}

        </div>
    </div>
{% endblock %}