{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}

    <div class="card">
        <div class="card-body">
            {% for config in configs %}
                <h4 class="card-title">{{ config.name }}</h4>
                <hl-code class="language-yaml">{{ config.dump }}</hl-code>
            {% endfor %}

        </div>
    </div>
{% endblock %}