{% extends "datatable/layout.html.twig" %}

{% block table_section %}
    <div class="card">
        <div class="card-body pb-0">
            <h4 class="card-title">Tree example</h4>
            <p class="text-muted font-14">
                This is a DataTable !<br>
                To obtain this result, use <code>tree = true</code> option to active <code>jquery-treetable</code> plugin on first column.<br>
                In this example, i use <code>NestedEntityAdapterType</code> working with Gedmo/Tree Entity (Entity must implements <code>NestedTreeEntityInterface</code>).
                Whole data are loaded with one query but there is limitations : no pagination, no sort.
            </p>
        </div>
        <div class="card-datatable pt-0">
            {{ render_table(table) }}
        </div>
    </div>
{% endblock %}

{% block code_section %}
    <div class="card">
        <div class="card-body">
            <div class="mb-3">
                <a href="{{ git_url('src/Controller/DataTable/DataTableTreeController.php') }}" target="_blank"><i class="mdi mdi-github"></i> Symfony Controller</a>
            </div>
            <div>
                <a href="{{ git_url('src/DataTable/SpaceMissionClassificationTableType.php') }}" target="_blank"><i class="mdi mdi-github"></i> DataTableType</a>
            </div>
        </div>
    </div>
{% endblock %}
