{% extends "test/layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="py-5 text-center">
            <h2>Test Umbrella2</h2>

            <table class="table">
                <tr>
                    <td>
                        <a href="{{ path('app_test_select2_index') }}">Composant select2</a>
                    </td>
                    <td>Multiple / Single with placeholder</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}