hl-code {
  display: block;
  overflow-x: auto;
  padding: 1em;
  white-space: pre;
  margin-bottom: 1rem;

  &.scroll {
    max-height: 420px;
  }
}

.content-bar {
  position: sticky;
  top: calc(65px + 1rem); // topbar-height
  z-index: 1020;
}