<a href="https://github.com/adminkit/adminkit" class="card-link" target="_blank">
    <div class="card card-body d-flex flex-row align-items-center">
        <div>
            <i class="uil uil-layers fs-2"></i>
        </div>
        <div class="ps-3">
            <h4>AdminKit / Bootstrap 5</h4>
            <div class="text-muted">Free and OpenSource admin template</div>
        </div>
    </div>
</a>