<a href="https://datatables.net/" class="card-link" target="_blank">
    <div class="card card-body d-flex flex-row align-items-center">
        <div>
            <i class="uil uil-table fs-2"></i>
        </div>
        <div class="ps-3">
            <h4>Datatable.js</h4>
            <div class="text-muted">Advanced table manipulation</div>
        </div>
    </div>
</a>