<a href="https://iconscout.com/unicons/explore/line" class="card-link" target="_blank">
    <div class="card card-body d-flex flex-row align-items-center">
        <div>
            <i class="uil uil-icons fs-2"></i>
        </div>
        <div class="ps-3">
            <h4>Unicons</h4>
            <div class="text-muted">Icon pack</div>
        </div>
    </div>
</a>