<ol class="breadcrumb {{ class }}">
    {% for item in breadcrumb %}
        {% if loop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{ item.label }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="#" class="text-primary">{{ item.label }}</a></li>
        {% endif %}
    {% endfor %}
</ol>