<h4 class="card-title">
    <a data-bs-toggle="collapse" href="#choice-options" class="dropdown-toggle">Options </a>
</h4>
<div id="choice-options" class="collapse">
    <p>All options of <a href="https://symfony.com/doc/current/reference/forms/types/choice.html">ChoiceType</a> +</p>

    <table class="table">
        <thead>
        <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Default value</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>min_search_length</th>
            <td>int</td>
            <td>0</td>
            <td>Start to filter options after n characters typed.</td>
        </tr>
        <tr>
            <th>expose</th>
            <td>callable</td>
            <td>null</td>
            <td>Used with option <b>template_selector</b> or <b>template_html</b> to expose additional variables.</td>
        </tr>
        <tr>
            <th>template_html</th>
            <td>string</td>
            <td>null</td>
            <td>Mustache template (by default, 2 variables are available : id and text).</td>
        </tr>
        <tr>
            <th>template_selector</th>
            <td>string</td>
            <td>null</td>
            <td>Css selector of mustache template in HTML dom.</td>
        </tr>
        </tbody>
    </table>
</div>