<h4 class="card-title">
    <a data-bs-toggle="collapse" href="#entity-options" class="dropdown-toggle">Options </a>
</h4>
<div class="collapse" id="entity-options">
    All options of <a href="https://symfony.com/doc/current/reference/forms/types/entity.html">EntityType</a> + all specific options of
    <b>Choice2Type</b> (min_search_length, ...)
</div>
