{% extends "@UmbrellaAdmin/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">How create a menu</h4>
                </div>
                <div class="card-body">

                    <h5>First build, it</h5>
                    <hl-code class="language-php">{{  source('admin/menu/_menu.txt') }}</hl-code>

                    <h5>That's all ! You can now render it on twig</h5>
                    <hl-code class="language-twig">{{  source('admin/menu/_twig.txt') }}</hl-code>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Use your own menu on Admin</h4>
                </div>
                <div class="card-body">
                    <p>
                        The default menu used on Admin is <code>Umbrella\AdminBundle\Menu\BaseAdminMenu</code>
                    </p>

                    <p>
                        To use your own, you have to specify FQCN menu on config :
                    </p>
                    <hl-code class="language-yaml">{{  source('admin/menu/_admin_config.txt') }}</hl-code>


                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Customize breadcrumb on admin page</h4>
                </div>
                <div class="card-body">
                    <p>
                        On your admin page view, you can use a twig function to update the breadcrumb.
                    </p>

                    <hl-code class="language-twig">{{  source('admin/menu/_breadcrumb.txt') }}</hl-code>

                </div>
            </div>

        </div>
    </div>

{% endblock %}